################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################


# User-Specific Files
*.suo
*.user
*.userosscache
*.sln.docstates

# User-Specific Files
*.userprefs

# Build Results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease
[Rr]eleases
x64/
x86/
Build/
build/
bd/
[Bb]in/
[Oo]bj/


/DbOperationsWithEFCore/bin/Debug/net6.0
/DbOperationsWithEFCore/obj
/DbOperationsWithEFCore/bin/Debug/net6.0
/DbOperationsWithEFCore/obj
/DbOperationsWithEFCore/bin/Debug/net6.0
/DbOperationsWithEFCore/obj
/.vs
/DbOperationsWithEFCore/.vs
/DbOperationsWithEFCore/Release/net6.0
/DbOperationsWithEFCore/bin/Release/net6.0
/DbOperationsWithEFCore/bin/Release/net6.0
/DbOperationsWithEFCore/bin
/DbOperationsWithEFCore/obj
